[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Sticky Notes
Comment=Sticky Notes
Icon=snotes.png
Exec=snotes
Type=Application
Terminal=false
Categories=Qt;Office;

# vi:encoding=utf-8
