[Desktop Entry]
Version=1.0
Name=Sticky Notes
Comment=Sticky Notes
Icon=snotes
Exec=snotes
Type=Application
Terminal=false
Categories=Qt;Office;
# vi:encoding=utf-8
